<div id="weather-details" class="container-fluid" *ngIf="location">
  
  <div class="row" id="title">
    <div class="col-md-12"> <strong>{{ location.name }}</strong>, {{ location.sys.country }} </div>
  </div>

  <div class="row">
    <div class="col-md-12"> <strong>{{ time }}</strong></div>
  </div>

  <div class="row" id="main-content">
    <div class="col-md-12">
      <img src="assets/img/{{ location.weather[0].main }}.svg" alt="{{location.weather[0].description}}" class="pull-left">
      <span class="pull-left"> {{ location.main.temp }}ºC </span>
      <ul class="pull-left">
        <li> Max: {{ location.main.temp_max }}ºC </li>
        <li> Min: {{ location.main.temp_min }}ºC </li>
      </ul>
    </div>
  </div>

  <div class="row" id="desc">
    <div class="col-md-12">
      <h4> <strong>Condition: </strong>{{ location.weather[0].description }} <span style="margin-left: 3em;"><strong>Wind: </strong>{{ location.wind.speed }} ({{location.wind.deg}}º)</span>  </h4>
    </div>
  </div>
</div>
